/**
 * Site header
 */
.site-header {
  // background-color:#2f2f2f;

    background-color:#fff;
    /*border-top: 5px solid $grey-color-dark;*/
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 24px;
    line-height: 56px;
    padding-left:15%;
    letter-spacing: -1px;
    margin-bottom: 0;
    color:#333;
    &:hover{
      text-decoration:none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size:15px;
    letter-spacing: -.5px;
    margin-right:4%;

    .menu-icon {
        display: none;
    }
    a{
    }

    .page-link {
        line-height: $base-line-height;
        margin-right:50px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: -35px;

        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            a{
             color:#000;
            }
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0 10px 0;
  //  background-color:#22272a;

    /*background-color:#34495E;*/
    background-color:#fff;
    line-height:1.5;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    a{
      color:#828282;
      &:hover{
        text-decoration:none;
	color:#000;
      }
    }
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
		.home{
			a{
				width:73%;
				display: inline-block;
			}
		}
}

.page-heading {
    font-size: 20px;
    color:#bababa;
}

.post-list {
    margin-left: 0;
    list-style: none;
    a{
      color:#333;
    }

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
	  font-size:20px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    &:hover{
      text-decoration:none;
      color:#da2727;
  }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    color: rgb(218, 39, 39);
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.social-share-element{
   width: 40px;
   height: 40px;
   background-color:rgba(51, 51, 51, 0.79);
   background-image:url('/images/social.png' );
   display: inline-block;
   margin-right: 2px;
   border-bottom: none;
   border-radius: 20px;
   &:hover {
    border-radius: 5px;
  }
  &.social-twitter {
    background-position: 0 0;
  }
  
  &.social-facebook {
    background-position: -40px 0;
  }
  &.social-google {
    background-position: -80px 0;
  }
  
  &.social-linkedin {
    background-position: -120px 0;
  }
  
  &.social-weibo {
    background-position: -160px 0;
  }
  
  &.social-digg {
    background-position: 0 40px;
  }
  
  &.social-douban {
    background-position: -40px 40px;
  }
  
  &.social-reddit {
    background-position: -80px 40px;
  }
  
  &.social-stumble {
    background-position: -120px 40px;
  }
  
  &.social-github {
    background-position: -160px 40px;
  }
}
.social-share-element {
  margin-bottom:-14px;
}
