---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }} {% if page.author %} 由 {{ page.author }}{% endif %} 发表{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<br>
<p class="social-share-text">You should always share the good things with your friends!</p>
    <div class="social-share">
        <a class="social-share-element social-twitter" onclick="window.open('https://twitter.com/intent/tweet?text={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}&via=jyootai&hashtags={{ tagStr }}','Share to Twitter','width=800px, height=600px');" target="_blank" title="Share this post on Twitter" ></a>
        <a class="social-share-element social-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?t={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&u={{ url }}','Share to Facebook','width=800px, height=600px');" target="_blank" title="Share this post on Facebook"></a>
        <a class="social-share-element social-google" onclick="window.open('https://plus.google.com/share?url={{ site.url }}{{ page.url }}','Share to G+','width=800px, height=600px');" target="_blank" title="Share this post on Google Plus"></a>
        <a class="social-share-element social-weibo" onclick="window.open('http://v.t.sina.com.cn/share/share.php?title=来围观+%40jyootai+的博文吧:{% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}{% if page.titleImg != null %}&pic={{ page.titleImg }}{% endif %}','Share to Weibo','width=800px, height=600px');" target="_blank" title="Share this post on Sina Weibo"></a>
        <a class="social-share-element social-douban" onclick="window.open('http://shuo.douban.com/!service/share?href={{ site.url }}{{ page.url }}&name={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}{% if page.titleImg != null %}&image={{ page.titleImg }}{% endif %}','Share to Douban','width=800px, height=600px');" target="_blank" title="Share this post on Dounban"></a>
    </div>
</br>
<div class="comments">
  {% if page.disqus == 'y' %}
    {% include disqus.html %}
  {% endif %}
</div>
